<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout_notloggedin"
      lang="en">
<head>
    <title>Login Error</title>
</head>
<body background="resources/img/login_register_background_image.jpg">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h4 style="text-align: center; color: red">Error Login</h4>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <span style="text-align: center;">Wrong credentials or the user does not exist</span>
                            <span style="text-align: center; display: inline-block;">Click <a href="/login">here</a> to go back to login page</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>