<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel='stylesheet' href='resources/css/bootstrap.min.css' />
    <link rel='stylesheet' href='resources/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='resources/css/Loader.css' />
    <link rel="stylesheet" href="resources/css/UserForms.css" />
    <script src="resources/js/jquery-3.1.1.min.js"/>
    <script src="resources/js/bootstrap.min.js"/>
    <script src="resources/js/UserForms.js" />
    <script src="/resources/js/toastr.min.js" />
    <script src="resources/js/angular.js" />
    <script src="resources/js/angular-animate.js" />
    <script src="resources/angular/controller/login_controller.js" />
    <script src="resources/angular/service/login_service.js" />
</head>
</html>